main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
.Tlight{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  height: 40%;
  width: 10%;
}
.Dsize{
  width: 35%;
  height: 20%;
  border-radius: 50%;
  padding: 5%;
  opacity: 0.3;
}
#red{
  background-color: red;
}
#yellow{
  background-color: yellow;
}
#green{
  background-color: green;
}